@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    color: hsl(214, 17%, 51%);
}
h2,
h4{
    color:hsl(216, 23%, 24%);
}
button{
    border: 0;
    outline: 0;
    background: none;
    cursor: pointer;
}
.container,
.content,
.cnt-body,
.footer-content,
.share-icon{
    display: flex;
    justify-content: space-between;
}
.container{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 23%, 69%);
    padding: 20px 20px;
}
.img-drawers{
    max-width: 320px;
    border-radius: 10px 0 0 10px;
}
.content{
    flex-direction: column;
    max-width: 380px;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
}
.info-user{
    display: flex;
    align-items: center;
}
.share-icon{
    position: relative;
    width: 40px;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
}
.share-icon:hover{
    background-color: hsl(217, 19%, 35%);
}
svg{
    fill: hsl(217, 19%, 35%);
}
.share-icon:hover svg{
    fill: #fff;
}
.info-user img{
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
}
.social-icons{
    position: absolute;
    display: none;
    align-items: center;
    top: -50px;
    right: 50%;
    transform: translateX(50%);
    background-color: hsl(217, 19%, 35%);
    border-radius: 7px;
    padding: 12px 15px;
}
.social-icons.active{
    display: flex;
}
.social-icons span{
    color: hsl(212, 23%, 69%);
}
.social-icons *{
    margin: 0 10px;
}
@media (max-width: 800px){
    .cnt-body{
        flex-direction: column;
    }
    .content,
    .img-drawers{
        max-width: 100%;
    }
    .content{
        border-radius: 0 0 7px 7px;
    }
    .img-drawers{
        border-radius: 7px 7px 0 0;
    }
    .content p{
        margin: 20px 0;
    }
    .social-icons{
        right: 0;
        transform: translateX(0);
    }
}